body {
  background-color: #F8F9FA;
  margin: 0;
  padding: 0;
}

/* Search Result Section */
.no-result-message {
  text-align: center;
  padding: 2rem;
  font-size: 1.1rem;
  color: #666;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 10px;
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4E4E4E;
}

.page-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.3; /* 기본은 흐리게 */
  pointer-events: none; /* 클릭 비활성화 */
  transition: opacity 0.2s ease-in-out;
}

.page-btn.active {
  opacity: 1;
  pointer-events: auto; /* 클릭 활성화 */
  cursor: pointer;
}

.page-btn img {
  width: 20px;
  height: 20px;
}

.page-input {
  width: 30px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: 'Pretendard', sans-serif;
  color: #4E4E4E;
  outline: none;
}

.pagination span {
  font-size: 16px;
  color: #4E4E4E;
}

#pageForm {
  display: inline;
}

#pageInput {
  width: 15px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  color: inherit;
  text-align: center;
  outline: none;
  appearance: textfield;
}

#pageInput::-webkit-inner-spin-button,
#pageInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination input[type="number"] {
  width: 15px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: inherit;
  color: inherit;
  outline: none;
  appearance: textfield; /* 크롬에서 화살표 제거 */
}

.flip-horizontal {
  transform: scaleX(-1);
}