<footer th:fragment="common-footer" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="footer-container">
        <nav aria-label="푸터 메뉴">
            <ul>
                <li><a th:href="@{/products}">중고거래</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/chats}">채팅하기</a></li>
            </ul>
        </nav>

        <div class="app-download">
            <span>앱 다운로드</span>
            <a href="https://apps.apple.com" target="_blank" class="btn-footer">App Store</a>
            <a href="https://play.google.com" target="_blank" class="btn-footer">Google Play</a>
        </div>
    </div>
</footer>
</body>
