<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trade</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/product-card.css}">

    <link rel="stylesheet" th:href="@{/css/pages/trade.css}">
</head>
<body>

<!-- Header Fragment -->
<header th:replace="fragments/header :: header"></header>

<main>
    <!-- Banner Section -->
    <section class="trade-banner">
        <div class="banner-inner">
            <header class="text">
                <h1>믿을만한<br>이웃 간 중고거래</h1>
                <p>동네 주민들과 가까운 따뜻한 거래를<br>지금 경험해보세요.</p>
            </header>
            <figure class="image">
                <img src="/images/tradebanner.png" alt="중고거래 배너 이미지" />
            </figure>
        </div>
    </section>

    <!-- Product Grid Section -->
    <section class="popular-items">
        <h2 id="popular-title">중고거래 인기매물</h2>

        <div class="item-grid" id="product-container">
            <div th:each="product : ${products}">
                <div th:replace="~{fragments/product-card :: productCard(${product})}"></div>
            </div>
        </div>
        <div id="scroll-sentinel"></div>
    </section>

</main>

<!-- Floating Action Button -->
<nav>
    <a th:href="@{/products/new}" class="floating-btn" aria-label="중고 거래글 작성">거래글쓰기</a>
</nav>

<!-- Footer Fragment -->
<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/pages/trade.js}"></script>
</body>
</html>